{% extends "base.html" %}
{% load static %}

{% block title %}Личный кабинет{% endblock %}

{% block header %}
  <header>
      <nav class="navbar navbar-expand-md navbar-light fixed-top navbar__opacity">
          <div class="container">
              <a class="navbar-brand" href="{% url 'index' %}">
                  <img src="{% static '/img/logo.8d8f24edbb5f.svg' %}" height="55" width="189" alt="">
              </a>
              <button class="btn btn-outline-success shadow-none foodplan_green foodplan__border_green" onclick="location.href='{% url 'logout' %}'">Выйти</button>
          </div>
      </nav>
  </header>
{% endblock %}

{% block content %}
  <main style="margin-top: calc(2rem + 85px);">
      <section>
          <div class="container">
              <div class="row">
                  <div class="card col-12 p-3 mb-5 foodplan__shadow">
                    <h4 class="foodplan__backButton">
                        <strong><small><a href="#" class="link-secondary fw-light"></a></small></strong>
                    </h4>
                    <h2 class="text-center"><strong>Личный кабинет</strong></h2>
                  </div>

                  <div class="card col-12 col-md-2 p-3 mb-3 d-flex flex-column align-items-center foodplan__shadow">
                    <div class="position-relative">
                        <img src="{% static '/img/test_avatar.png' %}" alt="" width="100" height="100" class="rounded-pill">
                        <span class="badge rounded-circle position-absolute bottom-0 end-0 foodplan__bg_green avatar__plus"><a href="#"
                                class="link-dark text-decoration-none align-middle">+</a></span>
                    </div>
                    <h3 class="card-title text-center">{{ user.username }}</h3>
                    <div class="d-block">
                        <button class="btn btn-outline-success shadow-none foodplan_green foodplan__border_green" onclick="location.href='{% url 'logout' %}'">Выйти</button>
                    </div>
                  </div>

                  <div class="card col-12 col-md-10 p-3 mb-3 foodplan__shadow">
                    <ul class="nav nav-tabs">
                        <li class="nav-item foodplan__tab-item">
                            <button id="tab1" class="btn shadow-none foodplan__tab-button active" data-bs-toggle="tab" data-bs-target="#data">Персональные данные</button>
                        </li>
                        <li class="nav-item foodplan__tab-item">
                            <button id="tab2" class="btn shadow-none foodplan__tab-button" data-bs-toggle="tab" data-bs-target="#menu">Моё меню</button>
                        </li>
                        <li class="nav-item foodplan__tab-item flex-grow-1"></li>
                    </ul>
                    <div class="tab-content mt-2">
                        <div class="tab-pane fade show active" id="data">

                          {% if form.errors %}
                            {% endif %}

                          {% if message %}
                              <div class="alert alert-success" role="alert">
                                {{ message|escape }}
                              </div>
                            {% endif %}

                            <form action="/lk/" method="post">
                              {% csrf_token %}
                              <div class="mb-3">
                                  {% if form.username.errors %}
                                    <div class="alert alert-danger" role="alert">
                                      {{ form.username.errors }}
                                    </div>
                                  {% endif %}
                                  <div class="d-flex align-items-center justify-content-between">
                                      <label for="id_username" class="form-label">Имя</label>
                                      <small><a href="#" class="link-dark foodplan_green">изменить</a></small>
                                  </div>
                                  <input type="text" class="form-control" name="username" id="id_username" value="{{ user.username }}">
                              </div>
                              <div class="mb-3">
                                  {% if form.email.errors %}
                                    <div class="alert alert-danger" role="alert">
                                      {{ form.email.errors }}
                                    </div>
                                  {% endif %}
                                  <label for="id_email" class="form-label">Email</label>
                                  <input type="email" class="form-control" name="email" id="id_email" aria-describedby="emailHelp" disabled value="{{ user.email }}">
                              </div>
                              <div class="mb-3">
                                  {% if form.password1.errors %}
                                    <div class="alert alert-danger" role="alert">
                                      {{ form.password1.errors }}
                                    </div>
                                  {% endif %}

                                  <div class="d-flex align-items-center justify-content-between">
                                      <label for="password" class="form-label">Пароль</label>
                                      <small><a href="#" class="link-dark foodplan_green">изменить</a></small>
                                  </div>

                                  <input type="password" class="form-control" id="id_password1" name="password1" value="">
                              </div>
                              <div class="mb-3">
                                  {% if form.password2.errors %}
                                    <div class="alert alert-danger" role="alert">
                                      {{ form.password2.errors }}
                                    </div>
                                  {% endif %}

                                  <label for="PasswordConfirm" class="form-label">Подтверждение пароля</label>
                                  <input type="password" class="form-control" id="id_password2" name="password2" value="">
                              </div>
                              <div class="d-block">
                                  <button type="submit" class="btn shadow-none btn-outline-success foodplan_green foodplan__border_green">Сохранить
                                      изменения</button>
                              </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="menu">
                            <div class="row">
                              {% if subscribes %}
                                {% for subscribe in subscribes %}
                                  <div class="col-2">

                                    {% if subscribe.menu_type.image %}
                                      <img src="{{ subscribe.menu_type.image.url }}" alt="" class="w-100">
                                    {% else %}
                                      <img src="{% static '/img/circle1.png' %}" alt="" class="w-100">
                                    {% endif %}

                                  </div>
                                  <div class="col-10 col-md-10">
                                      <div class="row">
                                          <div class="col-12">
                                              <h2>{{ subscribe.menu_type }}</h2>
                                          </div>
                                          <div class="col-md-12 col-lg-9">
                                              <h6>{{ subscribe.menu_type.description }}</h6>
                                          </div>
                                          <div class="col-md-12 col-lg-3 text-muted d-flex flex-column justify-content-between">
                                              <div class="d-flex flex-row justify-content-between">
                                                  <small>Персоны: </small><small>{{ subscribe.number_of_person }}</var></small>
                                              </div>
                                              <div class="d-flex flex-row justify-content-between">
                                                  <small>Аллергии: </small>
                                                    <small>
                                                      {% for allergy in subscribe.allergy.all %}
                                                        {{ allergy }}
                                                         <br>
                                                      {% endfor %}
                                                    </small>
                                              </div>
                                              <div class="d-flex flex-row justify-content-between">
                                                  <small>Калории: </small><small>{{ subscribe.calories }}</small>
                                              </div>
                                              <div class="d-flex flex-row justify-content-between">
                                                  <small>Кол-во приёмов пищи: </small><small>{{ subscribe.number_of_meals }}</small>
                                              </div>

                                          </div>
                                      </div>
                                  </div>
                                {% endfor %}
                              {% else %}
                                <div class="d-flex flex-row justify-content-between"><strong class="foodplan_green">У вас нет активных подписок.</strong>
                                    <button class="btn shadow-none btn-outline-success foodplan_green foodplan__border_green"
                                    onclick="location.href='{% url 'order' %}'">Подписка</button>
                                </div>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
          </div>
      </section>
  </main>
{% endblock %}

{% block footer %}
  <footer>
      <nav class="navbar navbar-expand-md navbar-light mt-5">
          <div class="container p-2">
              <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static '/img/logo.8d8f24edbb5f.svg' %}" height="55" width="189" alt="">
              </a>
              <div class="footer__sideBtns d-flex">
                  <a href="#">
                    <img src="{% static '/img/vk.png' %}" height="38" width="auto" alt="">
                  </a>
              </div>
          </div>
      </nav>
  </footer>
  <footer class="footer pt-2" style="border-top: 1px solid lightgray;">
      <div class="container d-flex flex-row justify-content-center mb-2">
        <small class="text-center">
          <h6>© Девман2022. Все права защищены. © Devman2022. All right reserved.</h6><a href="#"
            class="link-secondary">Политика конфиденциальности</a>
        </small>
      </div>
  </footer>
{% endblock %}
